APP_ENV=local
APP_DEBUG=true
APP_KEY=0f893917a086c359d33e743f4d0f24c4
APP_DEFAULT_NAME=Dashboard
APP_TIMEZONE=UTC

DB_HOST=localhost
DB_DATABASE=active_shipping
DB_USERNAME=root
DB_PASSWORD=root

CACHE_DRIVER=file
SESSION_DRIVER=database
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
