html,body,.main-form {
	width: 100%;
	padding: 0px;
	margin: 0px;
	height: 100%;
	color: #6D7274;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 175%;
}

.section-title-heading {
	text-align: center;
}

.section-title:before {
	left: -100px;
	top: 10px;
}

.main-form>#mainbody,.main-form>#footer {
	display: block;
}

.main-form>#mainbody {
	min-height: 70%;
}

.main-form>#mainbody .page-header {
	margin-top: 0px;
}

.main-form>#footer {
	min-height: 30%;
}

a:link,a {
	outline: 0;
	text-decoration: none;
	-webkit-transition: background-color .2s linear, color .2s linear;
	transition: background-color .2s linear, color .2s linear;
	-moz-transition: background-color .2s linear, color .2s linear;
	-o-transition: background-color .2s linear, color .2s linear;
	-webkit-transition: background-color .2s linear, color .2s linear;
}

#header>.top-head {
	background-color: #ffffff;
	width: 100%;
	height: auto !important;
	border-bottom: 1px solid #EBE9E9;
	z-index: 999;
	left: 0;
}

#header>.top-bar {
	background-color: #FFFFFF;
	border-bottom: 1px solid #EBE9E9;
	width: 100%;
	z-index: 999;
}

#top-menu-div {
	padding: 18px 0 5px 0;
}

.user-menu-bar .navbar {
	margin: 0px;
	padding: 0px;
	min-height: 0px;
}

.user-menu-bar ul.nav>li:last-child {
	border-left: 1px #EBE9E9 solid;
}

#header>.top-bar ul.nav>li>a {
	display: inline-block;
	color: #979EA2;
	padding: 0 12px;
	text-decoration: none;
	font-size: 13px;
	height: 42px;
	line-height: 42px;
	width: auto;
	margin: 0px;
	border-radio: 0;
}

#header>.top-bar ul.nav>li>a:hover {
	background-color: #73b819;
	color: #fff !important;
	border-radio: 0;
}

#header .navbar {
	margin-bottom: 0;
	background-color: #ffffff;
	background: rgba(255, 255, 255, 1);
	border-color: rgba(0, 0, 0, 0);
	border-radius: none;
	box-shadow: none;
}

#header .navbar-nav>li>a {
	text-transform: uppercase;
	color: #4a5158;
	font-family: 'Lato', sans-serif;
	padding: 7px 18px;
	margin-top: 8px;
	font-size: 16px;
	font-weight: 700;
}

#header .navbar-nav>li>a:focus,#header .navbar-nav>li>a:active,#header .navbar-nav>li>a:hover
	{
	background-color: #73b819;
	color: #fff !important;
}

#footer>.banner {
	background: #73B819 url("images/cloud-things.png") repeat center center;
	padding: 10px 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	padding: 10px 0;
	color: #FFFFFF;
	font-size: 16px;
}

#footer>.columns {
	background: #19242a url("images/dark-map.jpg") no-repeat center center;
	padding: 40px 0;
	color: #C6C4C4 !important;
	position: relative;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
}

#footer>.columns h3 {
	text-transform: capitalize;
	font-size: 20px;
}

.nav.navbar-nav.top-menu{
	margin-top: 10px;
}
.top-menu .dropdown {
	position: static;
}

.contact-form-wrapper {
	min-height: 500px;
}

.contact-form .form-control {
	box-shadow: none;
	height: 62px;
	margin-bottom: 10px;
}

.parallax {
	background-attachment: fixed !important;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax .overlay {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 60px 0;
}

.parallax.backend-home {
	background-image: url('images/parallax-client.jpg');
}

.icon-header {
	font-size: 70px;
	vertical-align: middle;
}

.blue {
	color: #3F8DBF !important;
}

.orange {
	color: #FB8728 !important;
}

.red {
	color: #CE2424 !important;
}

.green {
	color: #09C798 !important;
}

.lime {
	color: #73b819 !important;
}

.bg-lime {
	background-color: #73b819 !important;
	color: #f4f4f4 !important;
}

.highlight {
	color: #FFFFFF;
	display: block;
	font-size: 48px;
	font-weight: bold;
	margin-bottom: 0;
	overflow: hidden;
	padding: 30px 0;
}

.milestone-details {
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
}

.stat {
	text-align: center;
}

.no-result-div {
	border: 2px dashed #EEEEEE;
	border-radius: 4px;
	color: #777777;
	margin-bottom: 20px;
	padding: 20px;
	position: relative;
	text-align: center;
}

#addr-viewer .input-group {
	margin: 10px 0;
	width: 100%;
}

#addr-viewer .input-group .input-group-addon {
	width: 100px;
}

.rel-type-selector {
	padding: 20px 0;
}

.rel-type-selector .milstone-counter .highlight,.rel-type-selector .milstone-counter .milestone-details
	{
	color: inherit;
}

a.rel-type-selector:hover,a.rel-type-selector:active,a.rel-type-selector:focus,.rel-type-selector a,.rel-type-selector a:active,.rel-type-selector a:focus,.rel-type-selector a:hover
	{
	text-decoration: none;
	outline: none;
}

.rel-type-selector .milstone-counter:hover {
	background-color: #73b819 !important;
	color: #fff !important;
	border-radius: 4px;
}

.social-btn {
	margin: 0 4px;
	color: #fff;
	display: inline-block;
}

.social-btn:hover {
	color: #2a6496;
}


.period-tl-div {
	width: 100%;
}
.period-tl-div .period-tl {
	position: relative;
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;
	padding: 1em 0;
	list-style-type: none;
}

.period-tl-div .period-tl:before {
	position: absolute;
	left: 0px;
	top: 0;
	content: ' ';
	display: block;
	width: 6px;
	height: 100%;
	margin-left: -3px;
	background: rgb(80, 80, 80);
	background: -moz-linear-gradient(top, rgba(80, 80, 80, 0) 0%,
		rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30,
		87, 153, 1)), color-stop(100%, rgba(125, 185, 232, 1)));
	background: -webkit-linear-gradient(top, rgba(80, 80, 80, 0) 0%,
		rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
	background: -o-linear-gradient(top, rgba(80, 80, 80, 0) 0%,
		rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
	background: -ms-linear-gradient(top, rgba(80, 80, 80, 0) 0%,
		rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
	background: linear-gradient(to bottom, rgba(80, 80, 80, 0) 0%,
		rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
	z-index: 5;
}

.period-tl-div .period-tl li {
	padding: 1em 0;
}
.period-tl-div .period-tl li:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}


.period-tl-div .direction-r {
	position: relative;
	width: 95%;
	margin-left: 10px;
}

.period-tl-div .flag-wrapper {
	position: relative;
	display: inline-block;
	text-align: center;
}

.period-tl-div .flag {
	position: relative;
	display: inline;
	padding: 6px 10px;
	border-radius: 5px;
	font-weight: 700;
	text-align: left;
	color: #4a5158;
}

.period-tl-div .time-wrapper {
	display: inline;
	line-height: 11px;
	margin-top: 8px;
	font-size: 12px;
	color: #3f8dbf;
	vertical-align: middle;
}

.period-tl-div .desc {
	font-size: 11px;
	margin-right: 0 10px 0 0;
	font-style: italic;
}
.period-tl-div .direction-r .flag:before {
	position: absolute;
	top: 50%;
	right: -26%;
	content: ' ';
	display: block;
	width: 18px;
	height: 18px;
	margin-top: -10px;
	background: #fff;
	border-radius: 10px;
	border: 4px solid #73b819;
	z-index: 10;
}

.period-tl-div .direction-r .flag:before {
	right: 100%;
}

.backend-div-wrapper {
	padding: 50px 0 100px 0;
}

.property-list .row.item_row {
	border-bottom: 1px #eee solid;
	margin-bottom: 18px;
}
.property-list .row.item_row:last-child {
	border-bottom: none;
}

#logo {
	background: #fff url(images/logo.png) bottom left no-repeat;
	background-size: 100% auto;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-webkit-background-size: 100% auto;
	-o-background-size: 100% auto;
	margin: 10px 0 0 0;
	min-width: 200px;
	max-width: 238px;
	min-height: 70px;
}

.homepage-wrapper #home > .banner {
	background-image: url('images/parallax-blog.jpg');
	color: #efefef !important;
}

.desc-cell {
	padding-bottom: 15px;
}

.desc-cell .desc-cell-desc {
	line-height: 110%;
	color: #c9c9c9 !important;
	padding: 0 !important;
	text-align: left;
	font-size: 14px;
	font-weight: 500;
}
.signup-now-wrapper .signup-now{
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	padding: 5px;
	text-transform: uppercase;
}
.signup-now-wrapper .signup-now.lime:hover{
	background: #73b819;
	color: #fff !important;
	border-color: #73b819;
}


.home-services .lead {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	line-height: 130px;
	font-size: 18px;
	font-weight: 500;
}
.home-services ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.home-services li:first-child {
border-left: 1px solid #588f11;
}
.home-services li {
	float: left;
	width: 25%;
	padding: 20px 3px;
	border-right: 1px solid #588f11;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	-webkit-transition: width 300ms;
	-o-transition: width 300ms;
	transition: width 300ms;
}
.home-services li i {
	font-size: 52px;
}